body {
    background-image: url('../img/car.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    min-height: 800px;

    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
        'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.signUp {
    color: white;
    float: center;
    width: 125px;
    margin-left: auto;
    margin-right: auto;
}
.visible {
    display: block;
    color: red;
}
label {
    font-size: 1.5em;
    color: rgb(246 221 34);
}
.hidden {
    display: none;
}
.visible-on-top {
    display: block;
    color: red;
    text-align: center;
    margin-top: 10px;
}
.checkbox-container {
    margin-top: 10px;
}
.checkbox-container input[type='checkbox'] {
    margin-top: 10px;
}
.checkbox {
    display: inline;
    margin-left: 30px;
}
.checkbox label {
    padding-left: 0px;
}

.wrap-form-app {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}
.address > *,
.phone > *,
.email > * {
    text-align: center;
}
#exampleForm.ControlSelect1 > option {
    background: transparent;
}

.container-wrap {
    margin-top: 10%;
}

input[type='text'],
input[type='password'],
select,
textarea {
    font-size: 1.5em;
    color: white;
    background: transparent;
    border: 2px solid rgb(158, 196, 231);
}
select option:active {
    background: transparent;
    color: black;
}
.textarea {
    font-size: 1.5em;
    background: 'transparent';
    color: 'white';
    border: 2px solid rgb(158, 196, 231);
}
#submit {
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}
.form-check-label {
    color: white;
    font-size: 1.5em;
}
.form-check-input {
    margin: 10px;
}
textarea {
    color: white;
}

@media only screen and (min-width: 900px) {
    .container-wrap {
        margin-top: 5%;
    }
}
@media only screen and (min-width: 400px) and (max-width: 530px) {
    .wrap-form-app {
        width: 300px;
        margin-left: auto;
        margin-right: auto;
    }
}
@media only screen and (max-width: 400px) {
    .wrap-form-app {
        width: 80%;
        color: red;
    }
    .wrap-form-app > * {
        width: 100%;
    }
    .form-check {
        display: block;
    }
    label {
        font-size: 1em;
    }
    input[type='text'],
    input[type='password'],
    select {
        font-size: 1em;
    }
    .textarea {
        font-size: 1em;
    }
    .form-check-label {
        font-size: 1em;
    }
    .checkbox-container input[type='checkbox'] {
        margin-top: 5px;
    }
}
